/* Remove the persistent white header */
[data-testid="stHeader"] {
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
}

/* Set background color for the page */
body {
    background-color: #000000 !important;
    color: #ffffff !important; /* Set all text to white */
}

/* Main app background */
.stApp {
    background-color: #000000 !important;
}

/* Sidebar Styling */
.css-1d391kg {
    background-color: #1a1a1a !important;
    border-right: 1px solid #333333 !important;
}

/* Page Title Styling */
h1 {
    text-align: center !important;
    font-weight: 600 !important;
    padding: 10px 0 !important;
    margin-top: -10px !important;
    margin-bottom: 20px !important;
    background-color: #1a1a1a !important;
    border-radius: 10px !important;
    color:#ffffff !important;
}

h1::after {
    content: "";
    display: block;
    width: 80%; /* Make the underline longer */
    height: 2px !important;
    background-color: #ffffff !important;
    margin: 10px auto 20px;
}