/* Remove the persistent white header */
[data-testid="stHeader"] {
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
}

/* Set background color for the page */
body {
    background-color: #000000 !important;
    color: #ffffff !important; /* Set all text to white */
}

/* Main app background */
.stApp {
    background-color: #000000 !important;
}

/* Sidebar Styling */
.css-1d391kg {
    background-color: #1a1a1a !important;
    border-right: 1px solid #333333 !important;
}

/* Page Title Styling */
h1 {
    text-align: center !important;
    font-weight: 600 !important;
    padding: 10px 0 !important;
    margin-top: -10px !important;
    margin-bottom: 20px !important;
    background-color: #1a1a1a !important;
    border-radius: 10px !important;
    color:#ffffff !important;
}

h1::after {
    content: "";
    display: block;
    width: 80%; /* Make the underline longer */
    height: 2px !important;
    background-color: #ffffff !important;
    margin: 10px auto 20px;
}

/* Subheading and General Text Styling */
h2, h3, h4, p, label {
    color: #ffffff !important; /* Ensure all headings and general text are white */
}


/* Style for metrics */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Optional: Add spacing above the container */
    gap: 10px;
    width: 100%;
}

.metric-container {
    flex: 1;
    background-color: #1a1a1a; /* Light gray background */
    border: 1px solid #1a1a1a; /* Subtle border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.metric-label {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Blue text for labels */
}

.metric-value {
    font-size: 48px;
    color: #007bff; /* Green text for values */
}

/* Style for error messages */
.error-message {
    color: #dc3545; /* Red text */
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem !important;
    }

    [data-testid="stExpander"] {
        padding: 10px !important;
        margin-bottom: 10px !important;
    }
}
